<!DOCTYPE html>
<html lang="en">
    <head>
        
        <meta charset="utf-8">
        
        <title>Chats</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Overpass&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/estilos.css">
        <link rel="stylesheet" href="css/mis_chats.css">
    </head>
<body>
    <%- include('partials/navigation_logout') %>
    <div id="contenedor">
        <div id="central">
            <div id="MisChats">
                <div class="titulo">
                    Mis Chats
                </div>
                <form id="loginform" method="POST">
                    <input type="email" name="email" placeholder="Email" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <button type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
    
</body>
</html>