#config-train{
    margin-bottom: 30px;
    max-width: 450px;
    
}
.slider{
    display:flex;
    align-items: center;
    justify-content: center;
}
.entrenamiento div,label,textarea,select{
    margin-bottom: 5px;
}
.train{
    width: 400px;
}
.slidervalue{
    margin-left: 5px;
    height: 10px;
}

#temperatura{
    pointer-events: none;
}

#progress-bar-container {
    z-index: 1;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    height: 100px; 
    width: 300px; 
}
.link,
.document,
.dataset{
    width: 400px;
    height: 30px;
}

.barra {
    position: relative;
    width: 300px;
    height: 20px;
    border: 1px solid #000;
    overflow: hidden;
}

#progress-bar {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #4caf50;
    animation: progress-animation 6s linear infinite;
}

@keyframes progress-animation {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    z-index: 9999; /* Asegurar que esté por encima de todos los demás elementos */
}

.añadirLink,
.quitarLink,
.añadirDocument,
.quitarDocument,
.añadirDataset,
.quitarDataset{
    width: 20px;
    height: 20px;
    float:left;
    margin-top:5px;
    margin-right: 40px;
}

.incorrecto {
    z-index: 1;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.warning{
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}