Flask
requests
flask_cors
accelerate
transformers
langchain
langchain-community
langchain-chroma 
beautifulsoup4
peft
faiss-cpu
einops
bitsandbytes
huggingface_hub
trl
datasets
tensorboardX
googletrans==4.0.0-rc1