<header>
    <nav id="barra-nav">
        <div class="elementos">
            <h1><img src="/img/chatbot.png" alt="logo" /> Chatbot Models</h1>
            <ul>
                <li><a href="/">INICIO</a></li>
                <li><a href="login">INICIAR SESSIÓN</a></li>
                <li><a href="registro">REGISTARSE</a></li>
            </ul>
        </div>
    </nav>
</header>
